<form method="post" action="{{ path('thepage_delete', {'idthepage': thepage.idthepage}) }}" onsubmit="return confirm('Êtes-vous sur de bien vouloir supprimer cet article?');">
    <input type="hidden" name="_method" value="DELETE">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thepage.idthepage) }}">
    <button class="btn">Supprimer</button>

</form>
