{% extends 'template.html.twig' %}

{% block title %}New Thepage{% endblock %}

{% block body %}
    <h1>Create new Thepage</h1>

    {{ include('thepage/_form.html.twig') }}

    <a href="{{ path('thepage_index') }}">back to list</a>
{% endblock %}
