{% extends 'template.html.twig' %}

{% block title %}New Thepage{% endblock %}

{% block body %}
    <h1>Ajouter a nouvel article</h1>

    {{ include('thepage/_form.html.twig') }}
   <br>
    <a href="{{ path('thepage_index') }}">Retour à la liste</a>
{% endblock %}
