{% extends 'base.html.twig' %}

{% block title %}Les gestion des données{% endblock %}

{% block body %}

    {% block entete_haut %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="{{ path("accueil") }}">
        <span class="d-block d-lg-none">Les gestion des données</span>
        <span class="d-none d-lg-block">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% endblock %}

    {% block menu %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path("accueil") }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Awards</a>
            </li>
        </ul>
    {% endblock %}


        {% block entete_bas %}
    </div>

     </nav>
{% endblock %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">{% block titre %}Les gestion des données{% endblock %}
            </h1>
            <div class="subheading mb-5">{% block stitre %}One sub titre{% endblock %}

            </div>
            <p class="lead mb-5">{% block contenu %}Page text{% endblock %}</p>

        </div>
    </section>
{% endblock %}
    {% block footer %}
        <div><hr><footer class="blockquote-footer">Create by <cite title="Source Title">© Tsymbalov Artem</cite> - 2018</footer></div>
    {% endblock %}
{% endblock %}



