{% extends 'template.html.twig' %}

{% block title %}{{ parent() }}-Accueil{% endblock %}

{% block stitre %}Les gestion des données{% endblock %}

{% block menu %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ path("accueil") }}">Accueil</a>
        </li>
        {% for itemMenu in sections %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("detail_section", {"id": itemMenu.getIdsections}) }}">{{ itemMenu.getThetitled }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

